
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for the purchase</h1>
    <% @order.line_items.each do |line_item| %>
        <% if product = Product.find_by(id: line_item.product_id) %>
<tr>
    <td>
      <h4>Name: <%= product.name %></h4>
      <br>
      <p>Description: <%= product.description %></p>
      <td>
      <%= image_tag product.image.url, class: 'tinyImg' %>
    </td>
    </td>
    <td>
    Cost per unit: <%= product.price %>
  </td>
  <td>
  Quantity: <%= line_item.quantity %>
</td>
  </tr>
      <% end %>
      <% end %>
      <footer class="orderTotal">
<h4>Grand Total: <%= humanized_money_with_symbol @order.total_cents.to_f / 100 %></h4>
      </footer>
  </body>
</html>