<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>

    </div>

    <div class="col-sm-4 reviews-form">
    <% if logged_in? %>
    <%= form_for [@product, @new_review] do |f| %>
      <%= f.label :rating %>
      <%= f.select :rating, ['5', '4', '3', '2', '1'] %>
      <%= f.text_area :description, class: 'rating-text' %>
      <%= f.submit "Create" %>
    <% end %>
    <% end %>
    </div>
    </div>

<div class="col-sm-8 centered">
    <% @reviews.each do |review| %>
      <div class="reviews">
      <h3><%= review.user.first_name %> </h3>
      <h5>Rating: <%= review.rating %> / 5</h5>
      <span><%= review.description %></span>
      <h5>on <%= review.created_at %></h5>
      <% if current_user == review.user %>
      <%= link_to product_review_path(product_id: @product.id, id: review.id), :method => :delete, :data => {:confirm => "You Sure?"} do %><i class="fa fa-trash"></i> Delete<% end %>
      <% end %>
      <br>
      <br>
    <% end %>
    </div>
  </article>

</section>
