<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

    <div>
    <% if logged_in? %>
    <%= form_for [@product, @new_review] do |f| %>
      <%= f.select :rating, ['1', '2', '3', '4', '5'] %>
      <%= f.text_area :description, size: "30x12" %>
      <%= f.submit "Create" %>
    <% end %>
    <% end %>
    </div>

<div>
    <% @reviews.each do |review| %>
      <% if current_user == review.user %>
      <% end %>
      <h5>Rating: <%= review.rating %> / 5</h5>
      <span>Review: </span><span><%= review.description %></span>
      <h5>Submitted by <%= review.user.name %> </h5>
      <h5>at <%= review.created_at %></h5>
      <%= link_to "Remove", product_review_path(product_id: @product.id, id: review.id), :method => :delete, :data => {:confirm => "You Sure?"} %>
      <br>
      <br>
    <% end %>
    </div>
  </article>

</section>
